body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(213, 213, 213);
}
#display{
    width: 100%;
    /* border-radius: 10px; */
    border: none;
    font-size: 80px;
    background-color: hsl(0, 0%, 40%);
    text-align: left;
    color: hsl(60, 56%, 80%);
    padding: 15px;
}
#cal{
    background-color: rgb(0, 0, 0,0.8);
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

button{
    background-color: rgb(140, 139, 139);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 67%);
}
button:active{
    background-color: hsl(0, 0%, 80%);
}
#elements{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 20px;
}
.operators{
    background-color: rgb(129, 178, 32);
}
.operators:hover{
    background-color: hsl(80, 61%, 65%);
}
.operators:active{
    background-color: hsl(80, 61%, 85%);
}
.clear{
    background-color: orange;
}
.clear:hover{
    background-color: hsl(39, 100%, 60%);
}
.clear:active{
    background-color: hsl(39, 100%, 80%);
}

.equals{
    width: 98%;
    border-radius:10px;
    padding: 10px;
}
.equal:hover{
    background-color: hsl(0, 0%, 60%);
}
.equal:active{
    background-color: hsl(0, 0%, 80%);
}